<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Azure DevOps Engineer Intern at
      <a class="underline-link" href="https://www.letsvee.com" target="_blank">Vee Ventures</a> contributing to the design, implementation and automation of CI/CD pipelines using the Microsoft Power Platform. I am a graduated student from
      <a class="underline-link" href="http://www.sjsu.edu/" target="_blank">San Jose State University</a> Before my master worked at
      <a class="underline-link" href="https://IBM.com/" target="_blank">IBM</a>and
      
      <a class="underline-link" href="https://HP.com/" target="_blank">HP</a>.
    </p>

    <p>
      I am a graduate student at San Jose State University, currently pursuing a Master's in Software Engineering with a specialization in Cloud and Mobile Computing. My goal is to design applications that are scalable and optimized for performance. 
      My emphasis is on principles of Site Reliability Engineering, Devops, and Infrastructure as Code (IaaC).
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I probably like going to the gym, watching movies, doing painting, and 
      exploring places on my bucket list.
      
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
